[Unit]
Description = git-hook-server

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/root/git-hook/errors.log
StandardError  = append:/root/git-hook/errors.log
ExecStart      = cd /root/git-hook-server npm serve

[Install]
WantedBy = multi-user.target